

<section id="course-details">
    <div class="header">
        <div class="hContainer">
            <h1 class="course-title">{{this.course.title}}</h1>
            <h3 class="bDescription">{{this.course.bDescription}}</h3>
            <div class="flex-div">
                <p class="avg-rating">{{this.course.rating}}</p>
                <div id="rating">
                    <div class="star-rating">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fa fa-star"></label>
                    </div>
                </div>
                <a href="#course-rating" class="num-of-ratings">({{this.course.numRating}})</a>
                <p class="num-enroll">{{format_number this.course.numEnroll}} students</p>
            </div>
            <p class="created-by">Created by &nbsp;<a href="#instructor">{{this.instructor.firstName}} {{this.instructor.lastName}}</a></p>
        </div>
    </div>
    <div class="container">
        <div class="information">
            <h2 class="content-title">Description:</h2>
            <p>{{{this.course.description}}}</p>

            <h2 class="content-title">Course content:</h2>
            <p>{{this.course.sectionList.length}} sections &#8226; {{this.numLecture}} lectures</p>
            <div class="section-list">
                <div class="section">
                    {{#each this.course.sectionList}}
                        <div class="section-info">
                            <p class="section-name"><i class="bi bi-chevron-down"></i>&nbsp;&nbsp; {{sectionTitle}}</p>

                            <button type="button" style="color: #5624d0" onclick="showAddLecture()"><u>Edit</u></button>
                        </div>
                        <div class="lecture-list">
                            {{#each listLecture}}
                                <div class="lecture">
                                    <div>
                                        <i class="bi bi-play-circle-fill"></i>
                                        <a href="#" class="lecture-name">{{lectureTitle}}</a>
                                    </div>
                                    <p class="time">4:01</p>
                                </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>


        <div id="addLectures" class="position-fixed shadow rounded addLectureWindow" style="display: none">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>

        <div class="watch-video">
            <div class="course-list">
                <a href="/courses/watchVideos"><img src="{{this.course.image}}" class="thumbnail"></a>
                <div class="course-info">
                    <p class="course-name">{{this.course.title}}</p>
                </div>
                <div class="price-of-course">
                    <div class="promotional-price">{{format_number this.course.discount}}đ &nbsp;</div>
                    <del class="price">{{format_number this.course.price}}đ</del>
                </div>
                <div class="btn-div">
                    <button type="button" class="btn-buy">Buy now</button>
                    <button type="button" class="btn-add-to-wl"><i class="bi bi-heart"></i></button>
                </div>
            </div>
        </div>
    </div>

</section>

{{#section 'js'}}
    <script>
        function showAddLecture(){
            document.getElementById('addLectures').style.display ='block';
        }
    </script>
{{/section}}