<div style="margin-top: 100px; margin-buttom: 100px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Students</th>
                <th scope="col">Sections</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courseList}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.destription}}</td>
                    <td>{{this.studentNum}}</td>
                    <td>{{this.sectionNum}}</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <i class="bi bi-pen"></i>
                            {{#if this.complete}}
                                <button type="button" class="btn btn-primary disabled"><i class="bi bi-check2"></i></button>
                            {{else}}
                                <button type="button" class="btn btn-primary" id="btnComp{{this.id}}" onclick="activeCompleteBtn({{this.id}})"><i class="bi bi-check2"></i></button> 
                            {{/if}}
                        </button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    function activeCompleteBtn(id){
        const conf = confirm('Do you really want to complete the course?');
        if (conf) document.getElementById("btnComp"+id).className = "btn btn-primary disabled";
    }
</script>