<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Learning Platform</title>
    <!-- include Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <!-- include custom CSS file -->
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <!-- ========================================================= navbar ========================================================= -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Online Academy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Khóa học của tôi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Các lĩnh vực
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/course/web">Lập trình web</a>
            <a class="dropdown-item" href="/course/mobile">Lập trình Mobile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Comming soon</a>
          </div>
        </li>
        <li class="nav-item">
          {{#if isLogin}}
          <a class="nav-link" href="#">Log Out</a>
          {{else}}
          <a class="nav-link" href="/Register">Register</a>
          {{/if}}
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button href="/search-result" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <!-- ========================================================= navbar ========================================================= -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Product List</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product List Start -->
    <div class="product-view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="col-md-4">
                                <div class="product-short">
                                    <div class="dropdown bg-white">
                                        <div class="dropdown-toggle" data-toggle="dropdown">Product sort by</div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Ascending Rate Score</a>
                                            <a href="#" class="dropdown-item">Descending Rate Score</a>
                                            <a href="#" class="dropdown-item">Ascending Price</a>
                                            <a href="#" class="dropdown-item">Descending Price</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if courses}}
                        {{#each courses}}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{Cource.Image}}" alt="{{Cource.Name}}" />
                                <div class="card-body">
                                    <h5 class="card-title">{{Cource.Name}}</h5>
                                    <h6>
                                        <p class="card-text">{{Cource.Category}}</p>
                                        <p class="card-text">{{Cource.Teacher}}</p>
                                        <p class="card-text">Rating : {{Cource.Rating}}/5</p>
                                        <p class="card-text">Number of students : {{Cource.NumberOfStudents}}</p>
                                    </h6>
                                    {{#if isDiscount}}
                                    <h5>
                                        <p class="card-title text-danger">{{Cource.discountPrice}} VND</p>
                                    </h5>
                                    <h6>
                                        <p class="card-text text-muted">{{Cource.Price}} VND</p>
                                    </h6>
                                    {{else}}
                                    <h6>
                                        <p class="card-text">{{Cource.Price}} VND</p>
                                    </h6>
                                    {{/if}}
                                    {{#if isBestseller}}
                                    <span
                                        style="border: solid 2px !important; font-size: 12px; font-family: 'Open Sans', sans-serif"
                                        class="rounded border-warning text-warning p-1 mx-1">
                                        Bestseller
                                    </span>
                                    {{/if}}
                                    <a href="{{Cource.Link}}" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div> COURSE YOU ARE SEARCHING NOT FOUND</div>
                        {{/if}}

                    </div>

                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination Start -->
                </div>
                <!-- Side Bar Start -->
            </div>
        </div>
    </div>
    <!-- Product List End -->
    <!-- ========================================================= footer ========================================================= -->
    <footer class="bg-light py-3 mt-5">
        <div class="container">
            <p class="text-center">Copyright &copy; Online Academy</p>
        </div>
    </footer>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>